.add-advert-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add-advert-form label {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 5px;
}

.add-advert-form label input {
    padding: 10px;
}


.add-advert-form label span {
    font-size: 8px;
}


.add-advert-form button {
    margin-top: 30px;
    width: 35%;
    padding: 15px 0;
    border-radius: 7px;
    border: none;
    background: #16B916;
    color: white;
}